@model List<VentaModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class = "card">
    <div class = "card-header">
        Lista Venta
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success">Nueva Venta</a>
        <hr />
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Dia de la venta</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Nombre</td>
                        <td>@i.Precio</td>
                        <td>@i.DiaVenta.ToString("MMMM/dd/yyyy")</td>
                        <td>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-idVenta="@i.idVenta">Elimiar</a>
                        </td>
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-idVenta="@i.idVenta">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>


    </div>
</div>

